[Unit]
Description=Apollo Supply Docker Compose Stack
Wants=docker.service
After=docker.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/batmon/apollo-supply
# Use standard docker compose commands. 
# Ensure full path to docker is used (usually /usr/bin/docker)
ExecStart=/home/batmon/apollo-supply/restore.sh
ExecStop=/usr/bin/docker stop sabnzbd qbittorrent gluetun

[Install]
WantedBy=multi-user.target
